html,
body {
  height: 100%;
}
/* .wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
} */
.loader-container {
  visibility: hidden;
  font-size: 10px;
  position: relative;
  width: 100px;
  height: 50px;
  display: inline-block;
  text-align: center;
  /* border: 1px solid #ccc;
  border-collapse: collapse; */
  vertical-align: top;
}
.loader-2 {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  position: relative;
  -webkit-animation: loader-2 0.9s 0.35s ease alternate infinite;
  animation: loader-2 0.9s 0.35s ease alternate infinite;
  margin: -20px auto 0;
}

.loader-2:after,
.loader-2:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: loader-2 0.9s ease alternate infinite;
  -webkit-animation: loader-2 0.9s ease alternate infinite;
}

.loader-2:before {
  left: -20px;
  animation-delay: 0.2s;
}

.loader-2:after {
  right: -20px;
  animation-delay: 0.5s;
}

@keyframes loader-2 {
  0% {
    box-shadow: 0 15px 0 -15px blue;
  }
  100% {
    box-shadow: 0 15px 0 blue;
  }
}

@-webkit-keyframes loader-2 {
  0% {
    box-shadow: 0 15px 0 -15px blue;
  }
  100% {
    box-shadow: 0 15px 0 blue;
  }
}
